:root {
    font-size: 2vw;
}

body {
    margin: 0;
}

#screen {
    width: 100vw;
    height: 56.25vw;
    background-color: darkred;
    overflow: hidden;
    position: relative;

    /*  touch-action: none;*/
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

/* effekter */
.hide {
    visibility: hidden;
}

.show {
    visibility: visible;
}

.blur {
    filter: blur(5px) brightness(80%);
}

.fade_out {
    animation-name: fadeout_kf;
    animation-duration: .5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeout_kf {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.pulse {
    animation-name: pulse_kf;
    animation-duration: 1.7s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in;
}


@keyframes pulse_kf {
    0% {
        transform: scale(0.96);
    }

    100% {
        transform: scale(1);
    }
}


#start {
    position: absolute;
    width: 100vw;
    height: 56.25vw;
    background-image: url(startscreen.svg);
    background-size: 100%;
    background-color: rgba(240, 248, 255, 0.75);
}

#play {
    position: absolute;
    width: 15vw;
    height: 14.1vw;
    background-image: url(startbutton.svg);
    background-size: 100%;
    left: 43vw;
    top: 35vw;
    background-repeat: no-repeat;

    cursor: pointer;
}


#menu_background {

    background-image: url("gamebackground.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100vw;
    height: 100vw;
    position: relative;
}



#character {
    background-image: url("character.svg");
    background-repeat: no-repeat;
    background-size: 26vw;
    width: 26vw;
    height: 34vw;
    position: absolute;
    left: 12vw;
    top: 22vw;
}

#chime1 {
    background-image: url("chime1.svg");
    background-repeat: no-repeat;
    background-size: 8vw;
    width: 8vw;
    height: 14vw;
    position: absolute;
    left: 51.5vw;
    top: 12vw;

}

#chime2 {
    background-image: url("chime2.svg");
    background-repeat: no-repeat;
    background-size: 8vw;
    width: 8vw;
    height: 14vw;
    position: absolute;
    left: 61vw;
    top: 12vw;

}

#chime3 {
    background-image: url("chime3.svg");
    background-repeat: no-repeat;
    background-size: 8vw;
    width: 8vw;
    height: 14vw;
    position: absolute;
    left: 70.7vw;
    top: 12vw;

}


#chime4 {
    background-image: url("chime4.svg");
    background-repeat: no-repeat;
    background-size: 8vw;
    width: 8vw;
    height: 14vw;
    position: absolute;
    left: 81vw;
    top: 12vw;


}

* #chime5 {
    background-image: url("chime2.svg");
    background-repeat: no-repeat;
    background-size: 8vw;
    width: 8vw;
    height: 14vw;
    position: absolute;
    left: 81vw;
    top: 27vw;


}

#chime6 {
    background-image: url("chime1.svg");
    background-repeat: no-repeat;
    background-size: 8vw;
    width: 8vw;
    height: 14vw;
    position: absolute;
    left: 61vw;
    top: 27vw;

}




#chime7 {
    background-image: url("chime4.svg");
    background-repeat: no-repeat;
    background-size: 8vw;
    width: 8vw;
    height: 14vw;
    position: absolute;
    left: 71.6vw;
    top: 27vw;

}



#chime8 {
    background-image: url("chime3.svg");
    background-repeat: no-repeat;
    background-size: 8vw;
    width: 8vw;
    height: 14vw;
    position: absolute;
    left: 51.5vw;
    top: 27vw;

}


#chime9 {
    background-image: url("chime1.svg");
    background-repeat: no-repeat;
    background-size: 8vw;
    width: 8vw;
    height: 14vw;
    position: absolute;
    left: 51.5vw;
    top: 41.4vw;

}

#chime10 {
    background-image: url("chime3.svg");
    background-repeat: no-repeat;
    background-size: 8vw;
    width: 8vw;
    height: 14vw;
    position: absolute;
    left: 61vw;
    top: 41.2vw;

}

#chime11 {
    background-image: url("chime2.svg");
    background-repeat: no-repeat;
    background-size: 8vw;
    width: 8vw;
    height: 14vw;
    position: absolute;
    left: 70.7vw;
    top: 41.4vw;

}

#chime12 {
    background-image: url("chime1.svg");
    background-repeat: no-repeat;
    background-size: 8vw;
    width: 8vw;
    height: 14vw;
    position: absolute;
    left: 81vw;
    top: 41.4vw;


}


#points {

    background-image: url("points.svg");
    background-repeat: no-repeat;
    background-size: 10vw;
    width: 10.3vw;
    height: 7vw;
    position: absolute;
    left: 2vw;
    top: 43vw;

}

#health {

    background-image: url("health.svg");
    background-repeat: no-repeat;
    background-size: 15vw;
    width: 15vw;
    height: 4vw;
    position: absolute;
    left: 2vw;
    top: 51vw;



}


#timer {
    background-image: url("timer.svg");
    background-repeat: no-repeat;
    background-size: 10.3vw;
    width: 10vw;
    height: 6vw;
    position: absolute;
    left: 38vw;
    top: 50vw;

}


#start {
    display: none;

    background-image: url("startscreen.svg");
    background-repeat: no-repeat;
    background-size: 100vw;
    width: 100vw;
    height: 100vw;
    position: absolute;
}



#settings {

    background-image: url("settings.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 15vw;
    height: 3vw;
    position: absolute;
    left: 2vw;
    top: 1vw;

}

#gameover {

    background-image: url("gameover.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 60vw;
    height: 50vw;
    position: absolute;
    left: 25vw;
    top: 4vw;
    z-index: 20;
}

#win {

    background-image: url("youwon.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 60vw;
    height: 50vw;
    position: absolute;
    left: 25vw;
    top: 4vw;

}

#tryagain1 {


    background-image: url("tryagain.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 15vw;
    height: 20vw;
    position: absolute;
    left: 68vw;
    top: 28vw;

}

#tryagain2 {

    background-image: url("tryagain.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 15vw;
    height: 20vw;
    position: absolute;
    left: 68vw;
    top: 28vw;


}

#gamesoundon {

    background-image: url("gamesoundon.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 3vw;
    height: 3vw;
    position: absolute;
    left: 2.5vw;
    top: 4vw;

}

#gamesoundoff {

    background-image: url("gamesoundoff.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 3vw;
    height: 3vw;
    position: absolute;
    left: 2.5vw;
    top: 7vw;


}

#musicon {

    background: url("musicon.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 2.5vw;
    height: 2.6vw;
    position: absolute;
    left: 7vw;
    top: 4vw;


}

#musicoff {

    background-image: url("musicoff.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 3vw;
    height: 2.5vw;
    position: absolute;
    left: 7vw;
    top: 7.2vw;

}
